<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  
  <title>Document</title>

  <link rel="stylesheet" href="../css/about.css">
  <link rel="stylesheet" href="../css/styles.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>
  
  
  
  
  <nav class="navbar navbar-expand-sm ">
  <div class="container">
    <a class="navbar-brand" href="../Index.html"><img src="../images/Screenshot_2024-03-14-16-19-10-05.jpg" alt="" width="60%"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="navbar-nav me-auto ">
        <a href="../Index.html"> <img src="../images/Screenshot_2024-03-20-20-02-44-82.jpg" alt="" width="25%"></a>
        
      </ul>
      <form class="d-flex">
      
      <ul class="navbar-nav me-2">
        <li class="nav-item me-3">
          <a class="nav-link" href="./allpaths.html">All Paths</a>
        </li>
        <li class="nav-item me-3">
          <a class="nav-link" href="javascript:void(0)">About</a>
        </li>
        <li class="nav-item me-3">
          <a class="nav-link" target="_blank" href="./community.html">Community</a>
        </li>
         <li class="nav-item me-3">
          <a class="nav-link" href="./supportus.html">Support us</a>
        </li>
         <li class="nav-item me-3">
          <a class="nav-link" href="./Signin.html">Sign in</a>
        </li>
         <li class="nav-item me-3">
          <a class="nav-link" href="javascript:void(0)"><span class="material-symbols-outlined">
light_mode
</span></a>
        </li>
      </ul>
      <a href="./Getstarted.html"><button class="btn btn-success" type="button">Get Started</button></a>
        
      </form>
    </div>
  </div>
</nav>
  
<!-- about the odin project -->

    <div class="container-fluid bg-color justify-content-center  ">


<div class="container col-md-6">
  <div class="contai">

    <h3 class="py-5 text-center">About The Odin Project</h3>
   <p class="text-muted pb-5">The Odin Project is one of those "What I wish I had when I was learning" resources. Not everyone has access to a computer science education or the funds to attend an intensive coding school and neither of those is right for everyone anyway. This project is designed to fill in the gap for people who are trying to hack it on their own but still want a high quality education.</p>
   <h5 class="  text-center py-2 pb-3">What you can expect at The Odin Project</h5>
   
   
   
   <div class="container">
      
   <div class="row px-5 py-5">
     <div class="col-md-2 text-center ">
       <img src="https://www.theodinproject.com/assets/about_page/img-education-e3565a58586975c5666f72075d0b3595ed3970a39837b20e2929a207ac6f3dcc.svg" alt="" width="70%">
     </div>
     <div class="col-md-10">
       <h5 class="pb-3 text-muted">A full roadmap to becoming a developer</h5>
       <p class="text-muted ">Our free, comprehensive curriculum will equip you to be a full stack developer, no matter your current experience level.</p>
     </div>
   </div>
     
     
       <div class="row px-5 py-5">
     <div class="col-md-2 text-center">
       <img src="https://www.theodinproject.com/assets/about_page/img-build-ff744742c689a4c6e5288a2b1254dd5f48b67612f077c6502d0d47da2f04c872.svg" alt="" width="70%">
     </div>
     <div class="col-md-10">
       <h5 class="pb-3 text-muted">Learn by doing</h5>
       <p class="text-muted">The most effective learning happens while building projects, so we have strategically placed them throughout our curriculum. These projects will make a strong portfolio for you to showcase on your resume.</p>
     </div>
   </div>


   <div class="row px-5 py-5">
     <div class="col-md-2 text-center">
       <img src="https://www.theodinproject.com/assets/about_page/img-people-38cb10d85ee4919c50abb7546115ed4f4bdf45494b5bee61f62f5a007d0f1752.svg" alt="" width="70%">
     </div>
     <div class="col-md-10">
       <h5 class="pb-3 text-muted">Receive support from others</h5>
       <p class="text-muted"> <a class="text-muted" href=""><b>The maintainers of the curriculum</b></a> run a Discord community, with the help of countless other volunteers, where you can receive help with anything in our curriculum</p>
     </div>
   </div>
   
   <div class="row pb-5 px-5 py-5">
     <div class="col-md-2 text-center ">
       <img src="https://www.theodinproject.com/assets/about_page/img-opensource-c137c8616631027d6a10b1fe5aa932c5e594fc80caecd00d8b190a197f10f8f9.svg" alt="" width="70%">
     </div>
     <div class="col-md-10">
       <h5 class="pb-3 text-muted">justify-content-center
Open source and community driven</h5>
       <p class="text-muted">You can deepen your understanding and improve your GitHub skills by contributing to our open source curriculum and helping others in our Discord community.</p>
     </div>
   </div>
   </div>
 </div>
</div>     
    </div>



    <!-- overview odin -->

<div class="container-fluid bg-color2">


<div class="container  py-5">
<h3 class="text-center">Overview of The Odin Project</h3>

<div class="row justify-content-center mt-5">
  <div class="col-md-3 bg-light py-2 my-3 mx-3 shadow rounded text-center">
    <h3 class="mt-3"> <b>1,269,670</b></h3>
    <p class="text-muted">Learners</p>
  </div>
  <div class="col-md-3 bg-light py-2 my-3 mx-3 shadow rounded text-center">
    <h3 class="mt-3"> <b>5000+</b></h3>
    <p class="text-muted">Contributors</p>
  </div>
  <div class="col-md-3 bg-light py-2 my-3 mx-3 shadow rounded text-center">
    <h3 class="mt-3"> <b>2013</b></h3>
    <p class="text-muted">Founded</p>
  </div>
</div>

<div class="row justify-content-center pt-5 gap-5">
  <div class="col-md-6  bg-light text-muted px-4 py-5 rounded shadow">
    <h2>Origin of The Odin Project</h2>
    <p>The Odin Project provides a free open source coding curriculum that can be taken entirely online. Since its inception, it has helped many students get hired as developers and has assisted countless others in learning enough programming to work on their own personal projects.
<br>
<br>
      Erik Trautman founded The Odin Project in 2013. Currently it is maintained and continually improved by a <a class="text-muted" href=""><b>team of volunteers</b></a>  many of whom learned to code with us. Many find success from Odin Project's curriculum because of its hands-on approach with learning and emphasis on building projects. The curriculum is meticulously curated to ensure the content is up-to-date.</p>
  </div>
  <div class="col-md-3 bg-light text-muted   py-5 px-4 rounded shadow">
    <h2 >  <a href="">  <i class="bi text-muted bi-github"></i></a>  Open Source</h2>
    <p>This website and the curriculum it hosts are completely open source. That means anyone can work on new features or fix existing bugs on the website. This also extends to the curriculum itself, anyone can work on new lessons, add new resources and improve existing lessons.
<br>
<br>
      The Odin Project would not be possible without the hard work of contributors from all across the world. If you're interested in helping us make The Odin Project better, please find out <a class="text-muted" href=""><b>how to contribute.</b></a></p>
  </div>
</div>
</div>
</div>

<!-- odin chat on discord  -->

<div class="container-fluid bg-color3 text-center ">
  <div class="container py-5">

      <div class="row align-items-center py-5">
        <div class="col-md-6">
          <img src="../images/odin logo.jpeg" alt="" width="50%">
        </div>
        <div class="col-md-6 text-muted">
          <h3><b>Want to contact us? </b></h3>
          <p>Connect with our friendly community on discord,<br> a chat and networking platform  or <a class="text-muted" href=""><b>send us an email.</b> </a></p>
          <button type="button" class="btn btn-white border mt-5 p-2">Chat On Discord</button>
        </div>
      </div>

      <div class="mx-auto  pt-5 bg-support">
        <div class="text-center">
         
          <p class="text-muted text-sm">If you want to give back to our community, you can do so by contributing <br> to our open source projects, or by supporting us financially.</p>
        </div>
    
    
          <div class="mt-4 pb-5 d-flex justify-content-center gap-3">
            <button class="btn px-3 py-2 btn-success text-center">
             Contribute
            </button>
            <button class="btn px-3 py-2 btn-success d-flex ">
              Donate
            </button>
          </div>
      </div>

  </div>
</div>
    




<div class="footer container mt-5 bg-white">
  
  <div class="row ">
    <div class="col-sm-2">
      <div class="d-flex lg">
        <img src="../images/Screenshot_2024-03-14-16-19-10-05.jpg" alt="" width="20%">
        <img src="../images/Screenshot_2024-03-20-20-02-44-82.jpg" alt="" width="50%">
        
      </div>
      <p class="mt-3 text-muted">High quality coding education maintained by an open source community.</p>
      <div class="d-flex icon">
        <a href="">  <i class="bi bi-github"></i></a> 
      <a href=""><i class="bi bi-discord"></i></a>
        <a href=""> <i class="bi bi-facebook"></i></a>
       <a href=""><i class="bi bi-twitter"></i></a>
        
      </div>
      
    </div>
   
    <div class="col-sm-2 line">
      <h5>About us</h5>
      <p class="text-muted">About <br> Team <br> Blog <br> Success Stories</p>
    </div>
    <div class="col-sm-2 line">
      <h5>Support</h5>
      <P class="text-muted">FAQ <br> Contribute <br> Contact us </P>
      
    </div>
    <div class="col-sm-2 line">
      <h5>Guides</h5>
      <P class="text-muted">Community guides <br> Installation guides</P>
    </div>
    <div class="col-sm-2 line">
      <h5>Legal</h5>
      <P class="text-muted">Terms <br> Privacy</P>
    </div>
  </div>
  
  <div class="pt-5 foot">
    <P class="text-muted">© 2024 The Odin Project. All rights reserved.</P>
  </div>




</div>





  
  
  
  
</body>
</html>