<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>support us</title>
   <link rel="stylesheet" href="../css/supportus.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
  
<nav class="navbar navbar-expand-sm ">
  <div class="container">
    <a class="navbar-brand" href="../Index.html"><img src="../images/Screenshot_2024-03-14-16-19-10-05.jpg" alt="" width="60%"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="navbar-nav me-auto ">
        <a href="../Index.html"><img src="./images/Screenshot_2024-03-20-20-02-44-82.jpg" alt="" width="25%"></a>
         
      </ul>
      <form class="d-flex">
      
      <ul class="navbar-nav me-2">
        <li class="nav-item me-3">
          <a class="nav-link" href="./allpaths.html">All Paths</a>
        </li>
        <li class="nav-item me-3">
          <a class="nav-link" href="./about.html">About</a>
        </li>
        <li class="nav-item me-3">
          <a class="nav-link" target="_blank" href="./community.html">Community</a>
        </li>
         <li class="nav-item me-3">
          <a class="nav-link" href="javascript:void(0)">Support us</a>
        </li>
         <li class="nav-item me-3">
          <a class="nav-link" href="./Signin.html">Sign in</a>
        </li>
         <li class="nav-item me-3">
          <a class="nav-link" href="javascript:void(0)"><span class="material-symbols-outlined">
light_mode
</span></a>
        </li>
      </ul>
      <a href="./Getstarted.html"> <button class="btn btn-success" type="button">Get Started</button></a>
       
      </form>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="container col-md-6 text-center pt-5">
    <h3>
      <b> Support the Project</b>
    </h3>
    <p class="text-muted py-5">Support the Project
      From the very beginning, The Odin Project has been committed to providing a world-class and completely free coding curriculum for anyone and everyone eager to learn. With your generous donations, we can continue to inspire thousands of aspiring developers, irrespective of their background or financial status.</p>

      <button class="btn btn-success px-5 py-3 mb-5">
       <b> Donate now!</b>
      </button>
  </div>
 
</div>

<div class="container-fluid bg-color">
<div class="container col-md-6 pt-5">
   <h4 class="text-center">Frequently Asked Questions</h4>
 <!-- 1 -->
   <h5 class="pt-5">How will my money be used?</h5>
   <br>
   <p class="text-muted ">Your money will be used to pay for the costs of running The Odin Project. This includes paying for the servers that host the website, the domain name, and any other costs associated with running the project. Your money does not go towards paying the maintainers. All of our expenses are documented directly on the <a href="">Open Collective website.</a> </p>
<!-- 2 -->
   <h5 class="pt-5">How can I donate?</h5>
   <br>
   <p class="text-muted ">You can donate via <a href="">Open Collective,</a>  by setting up a recurring donation or with a one time payment. </p>
<!-- 3 -->
<h5 class="pt-5">What form of payments can I use?</h5>
<br>
<p class="text-muted ">You can usually pay by credit card through our Open Collective page. They also offer bank transfer, Paypal, or other means in addition to or instead of credit card payments. When you go through the contribution flow, you'll see all the available payment methods.</a> </p>
<!-- 4 -->
<h5 class="pt-5">What happens if you receive more donations than needed?</h5>
<br>
<p class="text-muted ">Any extra money that we receive will be used to improve The Odin Project, or will be saved for future needs. This includes paying for new features, paying for new servers, and paying for any other costs associated with running the project. </p>
<!-- 5 -->
<h5 class="pt-5">How do I cancel my recurring donation?</h5>
<br>
<p class="text-muted ">You can cancel your recurring donation at any time through your Open Collective profile. </p>
<!-- 6 -->
<h5 class="pt-5">What are the benefits of donating?</h5>
<br>
<p class="text-muted ">Your donation helps us continue to provide a world-class and completely free coding curriculum for anyone and everyone eager to learn. We believe that this material should be available for free to anyone that needs it, and donations from those that have the means to contribute help keep it available for everyone!
<br>
  In additon to the above, donors get a special 'backer' role in our discord server as a small bit of recognition.</p>
<!-- 7 -->
<h5 class="pt-5">How do I get the 'backer' role on Discord?</h5>
<br>
<p class="text-muted ">Use the <b>/opencollective</b>  command in our discord server to verify your Open Collective account. You will then be automatically given the 'backer' role. You will be prompted to provide your Open Collective username, which is found in the URL of your Open Collective profile. For example, if your profile URL is <b>https://opencollective.com/rick-astley</b> your username is <b>rick-astley.</b> 
<br>
If you want to remove the role for any reason, contact staff on discord through ModMail.
</p>
<!-- 8 -->
<h5 class="pt-5">Do users with the 'backer' role get any exclusive benefits?</h5>
<br>
<p class="text-muted ">No. The role is just a way for us to show our appreciation for your support.</p>
<!-- 9 -->
<h5 class="pt-5">Does becoming a donor mean I get priority support in the chat?</h5>
<br>
<p class="text-muted ">No. We feel strongly that everyone should be treated equally in our community, regardless of whether or not they are a donor.</p>
<!-- 10 -->
<h5 class="pt-5">I cannot afford to donate right now. What are some other ways I can help The Odin Project?</h5>
<br>
<p class="text-muted ">You can help us by <a href="">contributing to our open source projects. </a> You can also help us by spreading the word about The Odin Project. Tell your friends, family, and coworkers about us. Share our content on social media. The more people that know about us, the more people we can help.</p>

<!-- 11 -->
<h5 class="pt-5">What ever happened to Thinkful? Viking Code School?</h5>
<br>
<p class="text-muted ">When The Odin Project was created by Eric Trautman in 2013, it was primarily funded by Eric's other project, the for-profit Viking Code School. Eric wanted Odin to be free, and kept it that way by placing a small ad for Viking Code School on the website.
<br>
  In late 2017, Viking Code School was acquired by Thinkful. As a part of that acquisition, Thinkful agreed to continue funding The Odin Project, in return for an ad on The Odin Project website.
  <br>
  In 2019, Thinkful was acquired by Chegg. Chegg was nothing but supportive, and continued funding us the entire time. However we began to feel that it might be in our best interest to become self-funding, to avoid the risk of being acquired by a company that might not be as supportive.
  <br>
  In 2023, we decided to begin the process of parting ways with Chegg, and become self-funding. We are now funded entirely by donations.</p>
<!-- 12 -->
<h5 class="pt-5">I still have questions. How can I contact you?</h5>
<br>
<p class="text-muted ">You can contact us through modmail on our discord server, or through email. See our contact us page for details. </p>

</div>
</div>




<div class="footer container mt-5 bg-white">
  
  <div class="row ">
    <div class="col-sm-2">
      <div class="d-flex lg">
        <img src="../images/Screenshot_2024-03-14-16-19-10-05.jpg" alt="" width="20%">
        <img src="../images/Screenshot_2024-03-20-20-02-44-82.jpg" alt="" width="50%">
        
      </div>
      <p class="mt-3 text-muted">High quality coding education maintained by an open source community.</p>
      <div class="d-flex icon">
        <a href="">  <i class="bi bi-github"></i></a> 
      <a href=""><i class="bi bi-discord"></i></a>
        <a href=""> <i class="bi bi-facebook"></i></a>
       <a href=""><i class="bi bi-twitter"></i></a>
        
      </div>
      
    </div>
   
    <div class="col-sm-2 line">
      <h5>About us</h5>
      <p class="text-muted">About <br> Team <br> Blog <br> Success Stories</p>
    </div>
    <div class="col-sm-2 line">
      <h5>Support</h5>
      <P class="text-muted">FAQ <br> Contribute <br> Contact us </P>
      
    </div>
    <div class="col-sm-2 line">
      <h5>Guides</h5>
      <P class="text-muted">Community guides <br> Installation guides</P>
    </div>
    <div class="col-sm-2 line">
      <h5>Legal</h5>
      <P class="text-muted">Terms <br> Privacy</P>
    </div>
  </div>
  
  <div class="pt-5 foot">
    <P class="text-muted">© 2024 The Odin Project. All rights reserved.</P>
  </div>




</div>



  
  
  
</body>
</html>